nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}

body {
	background-color: #A6A6A6;
}

form ul {
  list-style-type: none;
}


form input {
	background-color: #DDDDDD;
	border-width: 0;
}


.valid_form {
	color: black;
	background-color: green;
}

.invalid_form {
	color: black;
	background-color: red;
}

.invalid_info {
	color: red;
}



