<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href='/static/main.css' />
		<script src="/static/script.js" defer></script>
	</head>
	<body>
		<header>
			Deliverman - Patryk Nowacki	
		</header>
		<nav>
			<ul>
			<li><a href="/">Strona główna</a></li>
			<li><a href="/sender/sign-up">Zarejestruj</a></li>
			</ul>
		</nav>
		<form id="form" method="POST" action="https://infinite-hamlet-29399.herokuapp.com/sender/register" enctype="multipart/form-data">
			<ul>
				<li>
					<input type="text" id="fname" name="firstname" placeholder="Imie">
				</li>
				<li>
					<input type="text" id="lname" name="lastname" placeholder="Nazwisko">
				</li>
				<li>
					<label><input type="radio" name="sex" value="M" checked> Mezczyzna</label>
					<label><input type="radio" name="sex" value="K"> Kobieta</label>
				</li>
				<li>
					<input type="text" id="uname" name="login" placeholder="Nazwa uzytkownika">
				</li>
				<li>
					<input type="password" id="pass" name="password" placeholder="Haslo">
				</li>
				<li>
					<input type="password" id="pass2" name="password2" placeholder="Powtorne haslo">
				</li>
				<li>
					<input type="file" id="img" name="photo">
				</li>
				<li>
					<input type="submit" id="submit" name="submit">
				</li>
			</ul>
		</form>
		<footer>
			<ul>
				<li><a>2020</a></li>
				<li><a href=https://github.com/nowy1306/Paczkomat/>https://github.com/nowy1306/Paczkomat/</a></li>
			</ul>
		</footer>
	</body>
</html>